In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("/dlabdata1/lugeon/dmoz_domain_category.csv.gz")
df.shape

(2488259, 2)

In [16]:
df['cat_split'] = df.apply(lambda row: row.cat_labels_en.split('/'), axis=1)
df['cat_len'] = df.apply(lambda row: len(row.cat_split), axis=1)

In [17]:
def catk_or_none(row, k):
    if row.cat_len >= k:
        return row.cat_split[k-1]
    else:
        return None

In [18]:
df['main_cat'] = df.apply(lambda row: catk_or_none(row, 2), axis=1)
df.main_cat.unique()

array(['World', 'Computers', 'Business', 'Regional', 'Society', 'Arts',
       'Health', 'Science', 'Reference', 'Recreation', 'Shopping',
       'Sports', 'Games', 'News', 'Home', 'Regional|Top', 'News|Top'],
      dtype=object)

In [19]:
matchings = pd.read_csv("/dlabdata1/lugeon/categories.csv", sep=';')

In [20]:
matchings

,lang,id,Computers,Business,Society,Arts,Health,Science,Reference,Recreation,Shopping,Sports,Games,News,Home
0,English,en,Computers,Business,Society,Arts,Health,Science,Reference,Recreation,Shopping,Sports,Games,News,Home
1,Deutsch,de,Computer,economy,society,Culture,health,science,Knowledge,leisure,Online-Shops,Sport,games,media,At_home
2,Français,fr,data_processing,Business_and_Economy,Society,Arts,Health,Sciences,References,Hobbies,Online_Stores,Sports,Games,topicality,House
3,Russian,ru,computers,Business,Society,Art,Health,science,Information_sources,Leisure,Purchases,sport,Games,News_&amp;_Media,House
4,Español,es,Computing,Business,Society,Art,Health,Science_and_Technology,Reference/Education,Free_time,Shopping,sports,Games,Media,Home
5,Türkçe,tr,Computer,Economy_and_Business,Society,Arts_and_Entertainment,Health,Science,resources,NaN,Shopping,Spore,Games,Press_and_Publications,Home
6,Japanese,ja,Computer,business,society,Art,health,science,All_kinds_of_information,Recreation,online_shop,Sport,game,news,family
7,Português,pt,Computing,Business,Society,Art,Cheers,Science,Reference,Hobbies,Shopping,Sports,Games,News,Thigh
8,Chinese_Simplified,zh,computer,business,society,art,health,science,reference,Leisure,shopping,physical_education,game,news,family
9,Italiano,it,Computer,Business,Society,Art,Health,Science,Consultation,Free_time,Online_shopping,Sport,Games,News,Home

In [21]:
df_world = df[df.main_cat == 'World']
df_world['lang'] = df_world.apply(lambda row: catk_or_none(row, 3), axis=1)
df_world['lang_cat'] = df_world.apply(lambda row: catk_or_none(row, 4), axis=1)

<ipython-input-21-8dca46849ecf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_world['lang'] = df_world.apply(lambda row: catk_or_none(row, 3), axis=1)
<ipython-input-21-8dca46849ecf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_world['lang_cat'] = df_world.apply(lambda row: catk_or_none(row, 4), axis=1)

In [22]:
df_world.head()

,domain,cat_labels_en,cat_split,cat_len,main_cat,lang,lang_cat
0,sdcastroverde.com,Top/World/Galego/regional/Galicia/Lugo/municip...,"[Top, World, Galego, regional, Galicia, Lugo, ...",8,World,Galego,regional
2,zschachwitz-tischtennis.de,Top/World/Deutsch/Sport/ball_Sports/table_tenn...,"[Top, World, Deutsch, Sport, ball_Sports, tabl...",9,World,Deutsch,Sport
3,www.penguin.cz,Top/World/Česky/Computers/Software/Operating_s...,"[Top, World, Česky, Computers, Software, Opera...",8,World,Česky,Computers
6,medlawcenter.com.ua,Top/World/Ukrainian/Countries_and_regions/Euro...,"[Top, World, Ukrainian, Countries_and_regions,...",19,World,Ukrainian,Countries_and_regions
10,www.wasserstrahlen.com,Top/World/Deutsch/economy/Industrial_Goods_and...,"[Top, World, Deutsch, economy, Industrial_Good...",6,World,Deutsch,economy

In [38]:
std_cat = matchings.columns[2:3]

In [62]:
df_main = pd.DataFrame(columns = ['url', 'lang', 'lang_id', 'cat0'])

for index, row in matchings.iterrows():
    this_lang = row.lang
    if this_lang != 'English':
        this_lang_id = row.id
        df_this_lang = df_world[df_world.lang == this_lang]
        df_this_lang['lang_id'] = df_this_lang.apply(lambda x: this_lang_id, axis=1)
        for main_cat in std_cat:
            this_cat = row[main_cat].split('/')
            for cat in this_cat:
                df_this_cat = df_this_lang[df_this_lang.lang_cat == cat]
                print(df_this_cat[['lang', 'lang_cat']].head())
                df_main_ = df_main.append(df_this_cat[['domain', 'lang', 'lang_id', 'lang_cat']])
                df_main = df_main_
                
matchings.apply(lambda row: add_multilang(row), axis=1)

         lang  lang_cat
184   Deutsch  Computer
263   Deutsch  Computer
731   Deutsch  Computer
1072  Deutsch  Computer
1101  Deutsch  Computer

UnboundLocalError: local variable 'df_main' referenced before assignment

         lang  lang_cat
184   Deutsch  Computer
263   Deutsch  Computer
731   Deutsch  Computer
1072  Deutsch  Computer
1101  Deutsch  Computer
          lang         lang_cat
1839  Français  data_processing
2859  Français  data_processing
3871  Français  data_processing
4762  Français  data_processing
5224  Français  data_processing
         lang   lang_cat
63    Russian  computers
580   Russian  computers
2374  Russian  computers
2588  Russian  computers
2601  Russian  computers
          lang   lang_cat
1449   Español  Computing
5440   Español  Computing
7466   Español  Computing
11012  Español  Computing
17546  Español  Computing
        lang  lang_cat
1790  Türkçe  Computer
2508  Türkçe  Computer
3488  Türkçe  Computer
4593  Türkçe  Computer
4765  Türkçe  Computer
           lang  lang_cat
3541   Japanese  Computer
9268   Japanese  Computer
10981  Japanese  Computer
13659  Japanese  Computer
16421  Japanese  Computer
            lang   lang_cat
4318   Português  Computing
4999   Português  Computing
8145   Português  Computing
15346  Português  Computing
29302  Português  Computing
                    lang  lang_cat
3066  Chinese_Simplified  computer
4171  Chinese_Simplified  computer
6557  Chinese_Simplified  computer
9317  Chinese_Simplified  computer
9701  Chinese_Simplified  computer
          lang  lang_cat
3588  Italiano  Computer
5614  Italiano  Computer
7221  Italiano  Computer
7319  Italiano  Computer
7550  Italiano  Computer

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [54]:
df_main

Empty DataFrame
Columns: [url, lang, lang_id, cat0]
Index: []