In [1]:
import pandas as pd
import numpy as np

In [18]:
folder = '/dlabdata1/lugeon/datasets/'
#folder = '../data/'
name = 'websites_dmoz_multi'
ext = '.gz'
data = pd.read_csv(folder + name + ext, header=0)

In [19]:
lang_id = pd.read_csv('language-codes_csv.csv')

In [20]:
lang_id.head()

  alpha2    English
0     aa       Afar
1     ab  Abkhazian
2     ae    Avestan
3     af  Afrikaans
4     ak       Akan

In [21]:
ids = lang_id.alpha2.values

In [22]:
data.head()

   Unnamed: 0   uid                     url     lang lang_id       cat0
0           0   184    www.delphipraxis.net  Deutsch      de  Computers
1           1   263       www.central-it.de  Deutsch      de  Computers
2           2   731      www.aus-wandern.de  Deutsch      de  Computers
3           3  1072  blog.cvjm-nuernberg.de  Deutsch      de  Computers
4           4  1101     www.ges-training.de  Deutsch      de  Computers

In [27]:
data[data.url.apply(lambda u: u.endswith('.au'))]

,Unnamed: 0,uid,url,lang,lang_id,cat0
51950,51950,2197978,www.sdi.com.au,Deutsch,de,Business
67379,67379,1325020,www.kirche-sydney.org.au,Deutsch,de,Society
91916,91916,1815583,www.stormsurfers.com.au,Deutsch,de,Arts
180743,180743,1871094,www.woche.com.au,Deutsch,de,News
187538,187538,4714,www.langpro.com.au,Fran√ßais,fr,Business
...,...,...,...,...,...,...
1024893,1024893,2486947,www.art-almanac.com.au,English,en,Reference
1024924,1024924,2487056,www.autorentals.com.au,English,en,Business
1025004,1025004,2487465,www.geocompconsult.com.au,English,en,Science
1025021,1025021,2487514,www.qam.com.au,English,en,Reference
1025159,1025159,2488150,www.smwilliamstown.catholic.edu.au,English,en,Society

In [15]:
domains = data.url.apply(lambda x: x.split('.')[-1])
domains = domains[domains.apply(lambda x: x not in ids)]

In [37]:
domains.value_counts()[:50]

com         482918
org          86975
net          38919
jp           37072
edu          11748
au           11595
at            8916
cn            5944
info          5710
nz            2618
biz           1890
ua            1732
us            1475
gov            927
in             919
tv             903
mx             834
dk             809
cc             656
cl             609
hk             562
cz             560
gr             513
by             442
il             366
xn--p1ai       320
ws             259
me             192
uy             188
pk             175
name           167
kz             147
nu             145
ph             141
coop           138
pe             133
pro            127
fm             111
int             90
ag              71
bz              68
ma              59
aero            58
ec              51
ir              51
md              49
cat             45
ac              44
club            44
church          43
Name: url, dtype: int64

In [43]:
rep_domains = ['com', 'org', 'net', 'edu', 'info', 'biz', 'gov', 'tv', 'me', 'name', 'coop', 'pro', 'fm', 'int', 'aero', 'club', 'church']

In [44]:
len(rep_domains)

17

In [46]:
def embed_domains(url):
    domain = url.split('.')[-1]
    return [int(domain.startswith(d)) for d in rep_domains]

In [49]:
embed_domains('epfl.coop')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]