In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

from sentence_transformers import SentenceTransformer

In [2]:
xlmr = SentenceTransformer('xlm-r-distilroberta-base-paraphrase-v1')

In [3]:
tokenizer = xlmr.tokenizer

In [49]:
#urls_politics = ['socialistparty', 'partisocialiste', 'partitosocialista', 'sozialistischepartei']
urls_books = ['booksshopping', 'livresachat', 'comprarelibri', 'bücherkaufen']
#urls_gaming = ['gamingplatform', 'plateformedejeu', 'piattaformadigioco', 'spielplattform']

In [50]:
df = pd.DataFrame({'urls': urls_books})

In [51]:
df

            urls
0  booksshopping
1    livresachat
2  comprarelibri
3   bücherkaufen

In [52]:
df['tokens'] = df.urls.apply(tokenizer.tokenize)

In [53]:
df

            urls                 tokens
0  booksshopping   [▁books, shop, ping]
1    livresachat       [▁livres, achat]
2  comprarelibri   [▁comprar, e, libri]
3   bücherkaufen  [▁, bücher, kauf, en]